button, .button {
  padding: 10px 25px;
  border-radius: 10px;
  background-color: $tertiary-color;
  border: none;
  margin: 0 50px;
  color: #757575;
  margin: 15px 0;
  cursor: pointer;
  transition: 0.5s;
  text-align: center;
  font-size: 1em;

  &:hover {
    background-color: #525c88;
    color: white;
  }
}
