.profile {
  color: #959ec7;
  padding: 34px;
  width: 100%;
  display: flex;

  &_avatar {
    display: flex;
    flex-direction: column;
    width: 30%;
    align-items: center;
    position: relative;
    margin-top: 20px;

    img {
      width: 200px;
    }

    h1 {
      font-size: 2em;
      margin-top: 10px;
    }

    &_departement,
    &_age,
    &_sendMessage {
      margin-top: 15px;
    }

    &_sendMessage {
      display: flex;
      align-items: center;

      &_icon {
        font-size: 1.2em;
        margin-right: 5px;
      }
    }
  }

  &_info {
    width: 90%;
    align-items: center;
    display: flex;
    flex-direction: column;

    img {
      width: 100%;
      height: 250px;
    }

    &_bio {
      width: 70%;
      margin-top: 50px;
      background-color: $secondary-color;
      padding: 30px;
      border-radius: 5px;
    }

    &_explorationParticipate {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 50px 0;
      &_content{
        display: flex;
      }
      .card {
        background-color: $secondary-color;
        width: 250px;
        margin: 30px 10px;
        .img {
          width: 100%;
          height: 150px;
        }
        .content {
          padding: 10px;

          .createBtn {
            display: flex;
            justify-content: center;
          }
          .inputName {
            padding: 10px;
          }

          .name,
          .date,
          .departement {
            display: flex;
            flex-direction: column;
            padding: 5px 0;
          }
          .maxPerson,
          .published {
            padding: 5px 0;
            display: flex;
            align-items: center;
          }

          span {
            font-weight: bold;
            margin-right: 5px;
            color: #465182;
            padding: 10px 0;
          }

          p {
            font-size: 0.9em;
          }
          .button-containt {
            display: flex;
            justify-content: space-around;

            button {
              display: flex;
              align-items: center;
              padding: 10px 16px;
              margin: 4px;
              font-size: 0.8em;
            }
          }
        }
      }
    }
  }
}
